# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib

# Test binaries
*.test

# Output files
*.out
synthetic-service
!cmd/synthetic-service

# Dependency directories
vendor/

# Editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
